<%- include("header") -%>
<h2>This is the about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. In, nostrum eum quia
  illo repellat minima. Laboriosam vitae ducimus vel necessitatibus. Libero
  earum doloribus quo placeat eligendi atque ad repellendus rerum.
</p>
<%- include("footer") -%>
